<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris Jokes App</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css} "/>
    <style>
        h2 {
            margin: 2rem;
        }
    </style>
</head>
<body class="bg-secondary text-light">
    <div class="d-flex justify-content-center">
        <h2>Chuck Norris Jokes App</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card bg-light text-dark" style="width: 24rem;">
            <div class="card-body">
                <!--h5 class="card-title">Random Chuck Norris Joke</h5-->
                <p th:text="${jokes}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="" class="card-link">Next Joke</a>
            </div>
        </div>
    </div>



        <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
</body>
</html>